html { 
  margin:0;
  padding:0;
  background: url(../img/memory.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

h1 {
    text-align: center;
    color:white;
    font-size: 500%;
}

h2 {
    text-align: left;
}

h3 {
    text-align: right;
}

@font-face {
    font-family: "Mickey Font";
    src: url('../fonts/mickey-webfont.ttf');
}

body {
    font-family: "Mickey Font", Helvetica, Arial, sans-serif;
}

.screen{
      
    height: 150px;
    margin-right: 10px;
}
 
#screens{ 
    width: 90%;
    margin: auto;
    margin-top: 15%;
}